name: BUILD

on:
  push:
  schedule:
    - cron:  '35 0,12 * * *'
  workflow_dispatch:

jobs:
  buildAUR:
    strategy:
      matrix:
        repos: [ttf-sarasa-gothic-nerd-fonts, glfw-wayland-minecraft-cursorfix, kwin-effect-rounded-corners-git, vicinae, code-translucent, prismlauncher-git, libajantv2, obs-studio-liberty, plasma6-wallpapers-wallpaper-engine-git]
        include:
          - repos: git-cola
            preinstall-pkgs: "at-spi2-core"

      fail-fast: false
      
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4

    - name: Get latest version from AUR
      id: aur-version
      env:
        PKG_NAME: ${{ matrix.repos }}
      run: |
        bash scripts/check-aur-version.sh

    # use cache to speed up build
    - name: restore from cache
      id: cache
      uses: actions/cache@v4
      with:
        key: aur-build-cache-${{ matrix.repos }}-${{ steps.aur-version.outputs.latest_version }}
        path:  './*/${{ matrix.repos }}-*.pkg.tar.zst'


    - uses: ./actions/build-aur
      if: steps.cache.outputs.cache-hit != 'true'
      with:
        repo-name: ${{ matrix.repos }}
        preinstallPkgs: ${{ matrix.preinstall-pkgs }}

    - name: package tarball
      if: steps.cache.outputs.cache-hit != 'true'
      run: tar -czf '${{ matrix.repos }}.tar.gz' ./*/*.pkg.tar.zst


    - uses: actions/upload-artifact@v4
      if: steps.cache.outputs.cache-hit != 'true'
      with:
        path: ./${{ matrix.repos }}.tar.gz
        name: ${{ matrix.repos }}
        if-no-files-found: error
        
    - uses: ncipollo/release-action@v1
      if: steps.cache.outputs.cache-hit != 'true'
      with:
        allowUpdates: true
        tag: "packages"
        artifacts: "./*/*.zst"
        token: ${{ secrets.GITHUB_TOKEN }}

  buildNonAUR:
      strategy:
        matrix:
          PKGBUILDs: [64gram-desktop]

        fail-fast: false

      runs-on: ubuntu-latest

      steps:
          - uses: actions/checkout@v3

          - name: Extract version from PKGBUILD
            id: version
            run: |
              source "./${{ matrix.PKGBUILDs }}/PKGBUILD"

              # 尝试修复GitHub Actions无法正确处理冒号带来的问题
              pkgver=$(echo "$pkgver" | sed 's/:/*/g')

              echo "pkgver=${pkgver}" >> $GITHUB_OUTPUT
              echo "pkgname=${pkgname}" >> $GITHUB_OUTPUT

          - name: restore from cache
            id: cache
            uses: actions/cache@v4
            with:
              key: aur-build-cache-${{ matrix.PKGBUILDs }}-${{ steps.version.outputs.pkgver }}
              path:  './*/${{ matrix.PKGBUILDs }}-*.pkg.tar.zst'

          - name: Free Disk Space (Ubuntu)
            if: steps.cache.outputs.cache-hit != 'true' && matrix.PKGBUILDs == '64gram-desktop'
            uses: jlumbroso/free-disk-space@main
            with:
              # this might remove tools that are actually needed,
              # if set to "true" but frees about 6 GB
              tool-cache: true

              # all of these default to true, but feel free to set to
              # "false" if necessary for your workflow
              android: true
              dotnet: true
              haskell: true
              large-packages: true
              docker-images: false
              swap-storage: false

          - name: Build Non-AUR packages
            if: steps.cache.outputs.cache-hit != 'true'
            id: makepkg
            uses: ./actions/build-nonaur
            with:
              pkgdir: ${{ matrix.PKGBUILDs }}
              aurDeps: true

          - name: package tarball
            if: steps.cache.outputs.cache-hit != 'true'
            run: tar -czf '${{ matrix.PKGBUILDs }}.tar.gz' ./*/*.pkg.tar.zst

          - uses: actions/upload-artifact@v4
            if: steps.cache.outputs.cache-hit != 'true'
            with:
              path: ./*/*.pkg.tar.zst
              name: ${{ matrix.PKGBUILDs }}
              if-no-files-found: error

          - uses: ncipollo/release-action@v1
            if: steps.cache.outputs.cache-hit != 'true'
            with:
              allowUpdates: true
              tag: "packages"
              artifacts: ${{ steps.makepkg.outputs.pkgfile0 }}
              token: ${{ secrets.GITHUB_TOKEN }}

  uploadDatabase:
    runs-on: ubuntu-latest
    if: always()
    needs: [buildAUR , buildNonAUR]

    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/download-artifact@v4
        id: download

      - name: Display structure of downloaded files
        run: ls -R ${{ steps.download.outputs.download-path }}

      - name: decompress tarballs
        run: |
            find . -name "*.tar.gz" -type f | while read file; do
              echo "Extracting: $file"
              tar -xzf "$file" -C "$(dirname "$file")"
            done

      - uses: ./actions/create-db
        with:
          repo_name: gb-cha0s
          gpg-privatekey: ${{ secrets.gpg_private_key }}
          package_path: './'
          output_path: './upload_packages'

      - uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          tag: "packages"
          artifacts: "./upload_packages/*.sig,./upload_packages/*.files,./upload_packages/*.db,./upload_packages/*.tar.gz"
          token: ${{ secrets.GITHUB_TOKEN }}
